<footer class="text-black">
	<p class="text-center"><a href="/generate">Generator</a> | <a href="https://bitbucket.org/aaarossum/portfolio" target="_blank">Code</a></p>
	<p class="text-center">XMATEO &copy; 2020</p>
</footer>

