<div class="p-6 w-auto opacity-75" data-aos="fade-right">
	<p><a href="/" class="text-2xl font-bold {% if page.url === '/' %} text-black {% else %} text-outline {% endif %}">HRVATSKI</a>
	<a href="/en" class="ml-3 text-2xl font-bold {% if page.url.includes('/en') %} text-black {% else %} text-outline {% endif %}">ENGLISH</a></p>
	<p><a href="#" class="text-2xl font-bold text-black theme" data-theme="light">LIGHT</a>
	<a href="#" class="ml-3 text-2xl font-bold text-outline theme" data-theme="dark">DARK</a></p>
</div>