<div class="md:flex w-full my-16 md:my-32">
	<div class="w-full md:w-1/2">
	    <div class="m-auto relative max-w-sm w-full h-project">
	        <img src="/images/projects/{{project.image}}.jpg" alt="" class="xs:box-image absolute z-50" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000" />
	        <div class="invisible xs:visible box-shadow bg-shadow absolute z-30" data-aos="zoom-in-left" data-aos-duration="1000"></div>
	        <div class="relative z-20 h-full w-full shapes" data-aos="fade-right" data-aos-duration="1000">
	        	{% for shape in project.shapes %}
	        		<div class="{{shape}} absolute">{% include 'shapes/' + shape.split(' ')[1] + '.njk' %}</div>
	        	{% endfor %}
	        </div>
	    </div>
    </div>
    <div class="w-full mt-6 p-6 md:p-0 md:mt-0 md:w-1/2 md:pr-6">
    	<h1 class="relative z-50 text-outline mt-3 text-4xl xs:text-5xl sm:text-6xl font-family-mont leading-tightest">{{project.name}}</h1>
    	<div class="text-2xl leading-tight py-6 relative z-40 text-black">{{project[lang]}}</div>
    	<div class="mb-4 -mt-4 stack flex relative z-40">
    		{% for name in project.stack %}
    			<div class="tech-{{name}} flex-initial group relative">
                    <div class="absolute half-left bottom-0 select-none transition-opacity duration-500 ease-in-out opacity-0 group-hover:opacity-100 z-50">
                      <div class="text-black text-sm italic whitespace-no-wrap">
                        {{tech[name].descr}}
                      </div>
                    </div>
                </div>
    		{% endfor %}
    	</div>
    	<p class="h-auto sm:flex">
    		{% if project.url %}
                <a href="http://{{project.url}}" class="btn btn-red shine" target="_blank">{{ui.button.url[lang]}}</a>
            {% endif %}
    		{% if project.pdf %}
                <a href="{{helpers.cdn}}/pdf/{{project.pdf}}.pdf" class="btn btn-red shine" target="_blank">{{ui.button.pdf[lang]}}</a>
            {% endif %}
    		{% if project.repo %}
                <a href="{{project.repo}}" class="btn btn-gray shine mt-2 sm:mt-0 sm:ml-2" target="_blank">{{ui.button.repo[lang]}}</a>
            {% endif %}
    	</p>
    </div>
</div>