
//==========  Import all base partials ==========//

.button-outline {
  box-shadow: 4px 4px #000;
}
.rotate {
  transform: rotate(-90deg);
  /* Safari */ 
  -webkit-transform: rotate(-90deg);
  /* Firefox */
  -moz-transform: rotate(-90deg);
  /* IE */
  -ms-transform: rotate(-90deg);
  /* Opera */
  -o-transform: rotate(-90deg);
  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

body {
  @apply bg-white;
}

body.dark {
  @apply bg-black;
}

.dark .text-black:not(.bg-gray-200) {
  @apply text-white;
}

.dark .bg-black {
  @apply bg-white;
}

.dark .border-black {
  @apply border-white;
}

.text-outline {
  -webkit-text-fill-color: rgba(0,0,0,0);
  -webkit-text-stroke: 1px black;
}

.dark .text-outline {
  -webkit-text-stroke: 1px white;
}

$box-width: 300px;
$box-offset: 8px;

@responsive {
  .box-image {
    width: $box-width; 
    left: calc((100% - #{$box-width})/2 - #{$box-offset});
    top: calc((100% - #{$box-width})/2 - #{$box-offset});
  }

  .box-shadow {
    width: $box-width;
    height: $box-width;
    left: calc((100% - #{$box-width})/2 + #{$box-offset});
    top: calc((100% - #{$box-width})/2 + #{$box-offset});
  }
}

.half-left {
  left: 50%; 
  transform: translate(-50%, 30%);
}

.stack > div, .dark .stack > div {
  background-position: center;
  height: 80px;
  background-size: 100%;
  background-repeat: no-repeat;
  @apply mr-4;
}