svg {
	fill: none;
	stroke: currentColor;
	stroke-width: 6;
}

@keyframes move1 {
    0%   { transform: translateX(0);  transform: rotate(0); }
    50%  { transform: translateX(50px);  transform: rotate(+36deg); }
    100% { transform: translateX(0);  transform: rotate(0deg); }
}

@keyframes move2 {
    0%   { transform: translateY(0);  transform: rotate(0); }
    50%  { transform: translateY(30px);  transform: rotate(-32deg); }
    100% { transform: translateY(0);  transform: rotate(0deg); }
}

@keyframes move3 {
    0%   { transform: translateX(0);  transform: rotate(0); }
    50%  { transform: translateX(61px);  transform: rotate(+20deg); }
    100% { transform: translateX(0);  transform: rotate(0deg); }
}

@keyframes move4 {
    0%   { transform: translateY(0);  transform: rotate(0); }
    50%  { transform: translateY(42px);  transform: rotate(-22deg); }
    100% { transform: translateY(0);  transform: rotate(0deg); }
}

.shapes > div:nth-child(4n) {
  -webkit-transform-origin: center center;
    animation-name: move1;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.shapes > div:nth-child(4n+1) {
  -webkit-transform-origin: center center;
    animation-name: move2;
    animation-duration: 13s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.shapes > div:nth-child(4n+2) {
  -webkit-transform-origin: center center;
    animation-name: move3;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.shapes > div:nth-child(4n+3) {
  -webkit-transform-origin: center center;
    animation-name: move4;
    animation-duration: 9s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

svg .a {
  stroke-dashoffset: 995.9999155958104px;
  stroke-dasharray: 995.9999155958104px;
  fill: transparent;
}

.aos-animate svg .a {
  stroke-dashoffset: 0;
  fill: currentColor;
  stroke-dasharray: 0 !important;
}

$duration1: 0.5s;
$duration2: 0.6s;
$duration3: 0.2s;
$delay1: 0.1s;
$delay2: 0.9s;
$delay3: 1.0s;

$factor2: 1.2;
$factor3: 1.5;
$factor4: 1.7;

.shapes > div:nth-child(4n) svg .a {
  -webkit-transition: stroke-dashoffset $duration1 cubic-bezier(0.47, 0, 0.745, 0.715) $delay1,
                      fill $duration2 cubic-bezier(0.47, 0, 0.745, 0.715) $delay2,
                      stroke-dasharray $duration3 cubic-bezier(0.47, 0, 0.745, 0.715) $delay3;
          transition: stroke-dashoffset $duration1 cubic-bezier(0.47, 0, 0.745, 0.715) $delay1,
                	  fill $duration2 cubic-bezier(0.47, 0, 0.745, 0.715) $delay2,
                	  stroke-dasharray $duration3 cubic-bezier(0.47, 0, 0.745, 0.715) $delay3;
}

.shapes > div:nth-child(4n+1) svg .a {
  -webkit-transition: stroke-dashoffset $duration1*$factor2 cubic-bezier(0.47, 0, 0.745, 0.715) $delay1*$factor2,
                      fill $duration2*$factor2 cubic-bezier(0.47, 0, 0.745, 0.715) $delay2*$factor2,
                      stroke-dasharray $duration3*$factor2 cubic-bezier(0.47, 0, 0.745, 0.715) $delay3*$factor2;
          transition: stroke-dashoffset $duration1*$factor2 cubic-bezier(0.47, 0, 0.745, 0.715) $delay1*$factor2,
                    fill $duration2*$factor2 cubic-bezier(0.47, 0, 0.745, 0.715) $delay2*$factor2,
                    stroke-dasharray $duration3*$factor2 cubic-bezier(0.47, 0, 0.745, 0.715) $delay3*$factor2;
}

.shapes > div:nth-child(4n+2) svg .a {
  -webkit-transition: stroke-dashoffset $duration1*$factor3 cubic-bezier(0.47, 0, 0.745, 0.715) $delay1*$factor3,
                      fill $duration2*$factor3 cubic-bezier(0.47, 0, 0.745, 0.715) $delay2*$factor3,
                      stroke-dasharray $duration3*$factor3 cubic-bezier(0.47, 0, 0.745, 0.715) $delay3*$factor3;
          transition: stroke-dashoffset $duration1*$factor3 cubic-bezier(0.47, 0, 0.745, 0.715) $delay1*$factor3,
                    fill $duration2*$factor3 cubic-bezier(0.47, 0, 0.745, 0.715) $delay2*$factor3,
                    stroke-dasharray $duration3*$factor3 cubic-bezier(0.47, 0, 0.745, 0.715) $delay3*$factor3;
}

.shapes > div:nth-child(4n+3) svg .a {
  -webkit-transition: stroke-dashoffset $duration1*$factor4 cubic-bezier(0.47, 0, 0.745, 0.715) $delay1*$factor4,
                      fill $duration2*$factor4 cubic-bezier(0.47, 0, 0.745, 0.715) $delay2*$factor4,
                      stroke-dasharray $duration3*$factor4 cubic-bezier(0.47, 0, 0.745, 0.715) $delay3*$factor4;
          transition: stroke-dashoffset $duration1*$factor4 cubic-bezier(0.47, 0, 0.745, 0.715) $delay1*$factor4,
                    fill $duration2*$factor4 cubic-bezier(0.47, 0, 0.745, 0.715) $delay2*$factor4,
                    stroke-dasharray $duration3*$factor4 cubic-bezier(0.47, 0, 0.745, 0.715) $delay3*$factor4;
}