.btn {
  @apply w-full block text-center text-xl rounded-full font-extrabold py-3 px-6 select-none;
}
@screen sm {
  .btn {
    @apply flex-initial w-1/2;
  }
}

.btn-red {
  @apply bg-red text-white;
}

.btn-gray {
  @apply bg-gray-200 text-black;
}

.shine {
  overflow: hidden;
  position: relative;

  &:after {
    background: white;
    content: "";
    height: 155px;
    left: -95px;
    opacity: .2;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    transition: all 850ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 80px;
  }
}

.shine:hover {
  &:after {
    left: 120%;
    transition: all 850ms cubic-bezier(0.19, 1, 0.22, 1);
  }
}