* {
  font-family: 'Barlow Condensed';
}

.font-family-mont {
  font-family: 'Montserrat';
}

/* barlow-condensed-300 - latin-ext_latin */
@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/barlow-condensed-v4-latin-ext_latin-300.eot'); /* IE9 Compat Modes */
  src: local('Barlow Condensed Light'), local('BarlowCondensed-Light'),
       url('../fonts/barlow-condensed-v4-latin-ext_latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/barlow-condensed-v4-latin-ext_latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/barlow-condensed-v4-latin-ext_latin-300.woff') format('woff'), /* Modern Browsers */
       url('../fonts/barlow-condensed-v4-latin-ext_latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/barlow-condensed-v4-latin-ext_latin-300.svg#BarlowCondensed') format('svg'); /* Legacy iOS */
}

/* barlow-condensed-700 - latin-ext_latin */
@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/barlow-condensed-v4-latin-ext_latin-700.eot'); /* IE9 Compat Modes */
  src: local('Barlow Condensed Bold'), local('BarlowCondensed-Bold'),
       url('../fonts/barlow-condensed-v4-latin-ext_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/barlow-condensed-v4-latin-ext_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/barlow-condensed-v4-latin-ext_latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/barlow-condensed-v4-latin-ext_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/barlow-condensed-v4-latin-ext_latin-700.svg#BarlowCondensed') format('svg'); /* Legacy iOS */
}

/* montserrat-800 - latin-ext_latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/montserrat-v14-latin-ext_latin-800.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Bold'), local('Montserrat-Bold'),
       url('../fonts/montserrat-v14-latin-ext_latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/montserrat-v14-latin-ext_latin-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/montserrat-v14-latin-ext_latin-800.woff') format('woff'), /* Modern Browsers */
       url('../fonts/montserrat-v14-latin-ext_latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/montserrat-v14-latin-ext_latin-800.svg#Montserrat') format('svg'); /* Legacy iOS */
}