$sm: 25%;
$md: 40%;
$lg: 48%;

$sm-y: 0.8;
$md-y: 0.75;
$lg-y: 0.6;

$sm-x: -2%;
$md-x: -5%;
$lg-x: -8%;

.r25 {
  transform: rotate(25deg);
}

.r45 {
  transform: rotate(25deg);
}

.shape-sm {
  width: $sm;
  height: $sm;
  z-index: 30;
}

.shape-md {
  width: $md;
  height: $md;
  z-index: 20;
}

.shape-lg {
  width: $lg;
  height: $lg;
  z-index: 10;
}

.shape-sm:nth-child(even) {
  left: $sm-x;
}

.shape-sm:nth-child(odd) {
  right: $sm-x;
}

.shape-md:nth-child(even) {
  left: $md-x;
}

.shape-md:nth-child(odd) {
  right: $md-x;
}

.shape-lg:nth-child(even) {
  left: $lg-x;
}

.shape-lg:nth-child(odd) {
  right: $lg-x;
}

.triangle.shape-sm:nth-child(even)
{
  left: $sm-x * 1.9;
}

.triangle.shape-sm:nth-child(odd)
{
  right: $sm-x * 3;
}

.triangle.shape-md:nth-child(even),
.circle.shape-md:nth-child(even)
{
  left: $md-x * 1.9;
}

.triangle.shape-md:nth-child(odd) {
  right: $md-x * 2.5;
}

.triangle.shape-lg:nth-child(even),
.circle.shape-lg:nth-child(even)
 {
  left: $lg-x * 1.8;
}

.triangle.shape-lg:nth-child(odd) {
  right: $lg-x * 1.8;
}

.rectangle.shape-lg:nth-child(odd),
.rectangle.shape-md:nth-child(odd) {
  right: $lg-x * 0.1;
}

@for $i from 1 through 12 {
  .shape-sm.top-#{$i}\/12 {
    top: calc((100% * #{$sm-y} ) * #{$i}/12);
  }
  .shape-md.top-#{$i}\/12 {
    top: calc((100% * #{$md-y} ) * #{$i}/12);
  }
  .shape-lg.top-#{$i}\/12 {
    top: calc((100% * #{$lg-y} ) * #{$i}/12);
  }
}

@media (max-width: 330px){
  .shape-sm:nth-child(even),
  .shape-md:nth-child(even),
  .shape-lg:nth-child(even) {
    top: -17%;
  }

  .shape-sm:nth-child(odd),
  .shape-md:nth-child(odd),
  .shape-lg:nth-child(odd) {
    top: 78%;
  }

  @for $i from 1 through 12 {
    .top-#{$i}\/12 {
      left: calc((100% * #{$sm-y} ) * #{$i}/12) !important;
    }
  }
}