
//==========  Imports  ==========//

:root {
  --black: #222;
  --yellow: #f7c544;
  --orange: #f19737;
  --red: #eb332f;
}

// Import Tailwind preflight
@tailwind base;

// Import Tailwind components
@tailwind components;

// Import our custom base styles
@import 'base/all';
@import 'base/fonts';
@import 'base/shapes';
@import 'base/animations';
@import 'base/button';

// Import Tailwind utilities
// TailwindCSS recommends leaving utilities till last to ensure they aren't overwritten.
@tailwind utilities;

// make page visible only after loading css
html {
    visibility: visible;
    opacity: 1;
}