---
layout: default
permalink: 404.html
hidden: true
meta_title: 404
meta_description: 404 page description
body_class: 404
title: Oops!
---
<p class="px-6 text-3xl text-black leading-tight max-w-md"><a href="/" class="underline">Take me back to the homepage</a></p>
