---
layout: default
meta_title: Home
meta_description: Portfolio
body_class: home
title: Portfolio
lang: en
---
{% include "components/profile.njk" %}
{% intro "Hi, I'm Mateo. I design and realize web projects. NodeJS, Python and C# is part of my arsenal. You can say hello at" %}
{% include "components/projects.njk" %}