---
layout: default
meta_title: Home
meta_description: Portfolio
body_class: home
title: Portfolio
lang: hr
---
<div class="p-6">
	<a href="#" class="random bg-red text-xl text-white py-3 px-6 rounded-full font-extrabold">RANDOMIZE</a>
	<input type="number" id="count" min="1" max="40" value="4" class="ml-4 shadow appearance-none border rounded w-16 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
</div>
<div class="max-w-4xl m-auto  overflow-hidden sm:overflow-visible">
	{% for project in [projects[0]] %}
		{% include "components/project.njk" %}
	{% endfor %}
	<div class="p-6 max-w-sm shapes-preview text-black"></div>
</div>

<div class="shapes-partials hidden">
	<div class="triangle">{% include 'shapes/triangle.njk' %}</div>
	<div class="square">{% include 'shapes/square.njk' %}</div>
	<div class="smooth-square">{% include 'shapes/smooth-square.njk' %}</div>
	<div class="circle">{% include 'shapes/circle.njk' %}</div>
	<div class="rectangle">{% include 'shapes/rectangle.njk' %}</div>
</div>