---
layout: default
meta_title: Home
meta_description: Portfolio
body_class: home
title: Portfolio
lang: hr
---
{% include "components/profile.njk" %}
{% intro "Bok, zovem se Mateo. Ostvarujem web rješenja i aplikacije. Koristim NodeJS, Python i C#. Kontaktiraj me na" %}
{% include "components/projects.njk" %}
