<!doctype html>
<html lang="{{ lang }}" class="min-h-full antialiased">
<head>
    <style>html{visibility: hidden;opacity:0;}</style>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.name }}</title>
    <meta name="description" content="{% if meta_description %}{{ meta_description }}{% else %}{{ excerpt }}{% endif %}">
    <meta name="robots" content="index,follow" />
    <link rel="stylesheet" href="https://unpkg.com/aos@2.3.4/dist/aos.css" />

    {# if your site's entire CSS comes in under 14kb, you may want to inline in the head #}
    {# include main.css if in development mode #}
    {% if helpers.environment === "development" %}
        <link rel="stylesheet" href="/css/main.css">
    {% else %}
        {# else, use the minified css file for production #}
        <link rel="stylesheet" href="/css/main.min.css">
    {% endif %}

    {# include scripts #}
    {% if helpers.environment === "development" %}
        <script src="/js/main.js" defer></script>
        {% if page.url.includes('/generate') %}
            <script src="/js/generate.js"></script>
        {% endif %}
    {% else %}
        <script src="/js/main.min.js" defer></script>
        {% if page.url.includes('/generate') %}
            <script src="/js/generate.min.js"></script>
        {% endif %}
    {% endif %}

    {# include social meta tags #}
    {% include "components/social-meta.njk" %}

    {# lastly include favicon, fonts, etc #}
    <link rel="icon" type="image/png" href="{{ site.images.favicon }}">

    {# canonical #}
    <link rel="canonical" href="{{ site.url }}{{ page.url }}">
</head>

<body class="pb-10 min-h-full light">

    {# include header #}
    {% include "components/header.njk" %}

    
    {# include content #}
    {{ content | safe }}

    {# include footer #}
    {% include "components/footer.njk" %}

</body>
</html>
